{
  "swagger": "2.0",
  "info": {
    "title": "JumpServer API Docs",
    "description": "JumpServer Restful api docs",
    "termsOfService": "https://www.jumpserver.org",
    "contact": {
      "email": "support@fit2cloud.com"
    },
    "license": {
      "name": "GPLv3 License"
    },
    "version": "v1"
  },
  "host": "jms1.fit2cloud.com",
  "schemes": [
    "http"
  ],
  "basePath": "/api/v1",
  "consumes": [
    "application/json",
    "text/csv",
    "text/xlsx"
  ],
  "produces": [
    "application/json",
    "text/csv",
    "application/xlsx"
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "paths": {
    "/acls/login-acls/": {
      "get": {
        "operationId": "acls_login-acls_list",
        "description": "",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "user",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "user_display",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "action",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "spm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/LoginACL"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "acls_login-acls"
        ],
        "summary": "acls_login-acls_list"
      },
      "post": {
        "operationId": "acls_login-acls_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginACL"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginACL"
            }
          }
        },
        "tags": [
          "acls_login-acls"
        ],
        "summary": "acls_login-acls_create"
      },
      "put": {
        "operationId": "acls_login-acls_bulk_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginACL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginACL"
            }
          }
        },
        "tags": [
          "acls_login-acls"
        ],
        "summary": "acls_login-acls_bulk_update"
      },
      "patch": {
        "operationId": "acls_login-acls_partial_bulk_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginACL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginACL"
            }
          }
        },
        "tags": [
          "acls_login-acls"
        ],
        "summary": "acls_login-acls_partial_bulk_update"
      },
      "delete": {
        "operationId": "acls_login-acls_bulk_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "acls_login-acls"
        ],
        "summary": "acls_login-acls_bulk_delete"
      },
      "parameters": []
    },
    "/acls/login-acls/render-to-json/": {
      "post": {
        "operationId": "acls_login-acls_render_to_json",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginACL"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginACL"
            }
          }
        },
        "tags": [
          "acls_login-acls"
        ],
        "summary": "acls_login-acls_render_to_json"
      },
      "parameters": []
    },
    "/acls/login-acls/{id}/": {
      "get": {
        "operationId": "acls_login-acls_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginACL"
            }
          }
        },
        "tags": [
          "acls_login-acls"
        ],
        "summary": "acls_login-acls_read"
      },
      "put": {
        "operationId": "acls_login-acls_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginACL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginACL"
            }
          }
        },
        "tags": [
          "acls_login-acls"
        ],
        "summary": "acls_login-acls_update"
      },
      "patch": {
        "operationId": "acls_login-acls_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginACL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginACL"
            }
          }
        },
        "tags": [
          "acls_login-acls"
        ],
        "summary": "acls_login-acls_partial_update"
      },
      "delete": {
        "operationId": "acls_login-acls_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "acls_login-acls"
        ],
        "summary": "acls_login-acls_delete"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A UUID string identifying this \u767b\u5f55\u8bbf\u95ee\u63a7\u5236.",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    },
    "/acls/login-asset-acls/": {
      "get": {
        "operationId": "acls_login-asset-acls_list",
        "description": "",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "spm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/LoginAssetACL"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "acls_login-asset-acls"
        ],
        "summary": "acls_login-asset-acls_list"
      },
      "post": {
        "operationId": "acls_login-asset-acls_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginAssetACL"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginAssetACL"
            }
          }
        },
        "tags": [
          "acls_login-asset-acls"
        ],
        "summary": "acls_login-asset-acls_create"
      },
      "put": {
        "operationId": "acls_login-asset-acls_bulk_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginAssetACL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginAssetACL"
            }
          }
        },
        "tags": [
          "acls_login-asset-acls"
        ],
        "summary": "acls_login-asset-acls_bulk_update"
      },
      "patch": {
        "operationId": "acls_login-asset-acls_partial_bulk_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginAssetACL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginAssetACL"
            }
          }
        },
        "tags": [
          "acls_login-asset-acls"
        ],
        "summary": "acls_login-asset-acls_partial_bulk_update"
      },
      "delete": {
        "operationId": "acls_login-asset-acls_bulk_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "acls_login-asset-acls"
        ],
        "summary": "acls_login-asset-acls_bulk_delete"
      },
      "parameters": []
    },
    "/acls/login-asset-acls/render-to-json/": {
      "post": {
        "operationId": "acls_login-asset-acls_render_to_json",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginAssetACL"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginAssetACL"
            }
          }
        },
        "tags": [
          "acls_login-asset-acls"
        ],
        "summary": "acls_login-asset-acls_render_to_json"
      },
      "parameters": []
    },
    "/acls/login-asset-acls/{id}/": {
      "get": {
        "operationId": "acls_login-asset-acls_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginAssetACL"
            }
          }
        },
        "tags": [
          "acls_login-asset-acls"
        ],
        "summary": "acls_login-asset-acls_read"
      },
      "put": {
        "operationId": "acls_login-asset-acls_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginAssetACL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginAssetACL"
            }
          }
        },
        "tags": [
          "acls_login-asset-acls"
        ],
        "summary": "acls_login-asset-acls_update"
      },
      "patch": {
        "operationId": "acls_login-asset-acls_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginAssetACL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginAssetACL"
            }
          }
        },
        "tags": [
          "acls_login-asset-acls"
        ],
        "summary": "acls_login-asset-acls_partial_update"
      },
      "delete": {
        "operationId": "acls_login-asset-acls_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "acls_login-asset-acls"
        ],
        "summary": "acls_login-asset-acls_delete"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/acls/login-asset/check/": {
      "post": {
        "operationId": "acls_login-asset_check_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginAssetCheck"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginAssetCheck"
            }
          }
        },
        "tags": [
          "acls_login-asset"
        ],
        "summary": "acls_login-asset_check_create"
      },
      "parameters": []
    },
    "/applications/accounts/": {
      "get": {
        "operationId": "applications_accounts_list",
        "description": "",
        "parameters": [
          {
            "name": "app",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemuser",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "username",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "app_display",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "spm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AppAccount"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "applications_accounts"
        ],
        "summary": "applications_accounts_list"
      },
      "post": {
        "operationId": "applications_accounts_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        },
        "tags": [
          "applications_accounts"
        ],
        "summary": "applications_accounts_create"
      },
      "put": {
        "operationId": "applications_accounts_bulk_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        },
        "tags": [
          "applications_accounts"
        ],
        "summary": "applications_accounts_bulk_update"
      },
      "patch": {
        "operationId": "applications_accounts_partial_bulk_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        },
        "tags": [
          "applications_accounts"
        ],
        "summary": "applications_accounts_partial_bulk_update"
      },
      "delete": {
        "operationId": "applications_accounts_bulk_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "applications_accounts"
        ],
        "summary": "applications_accounts_bulk_delete"
      },
      "parameters": []
    },
    "/applications/accounts/render-to-json/": {
      "post": {
        "operationId": "applications_accounts_render_to_json",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        },
        "tags": [
          "applications_accounts"
        ],
        "summary": "applications_accounts_render_to_json"
      },
      "parameters": []
    },
    "/applications/accounts/{id}/": {
      "get": {
        "operationId": "applications_accounts_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        },
        "tags": [
          "applications_accounts"
        ],
        "summary": "applications_accounts_read"
      },
      "put": {
        "operationId": "applications_accounts_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        },
        "tags": [
          "applications_accounts"
        ],
        "summary": "applications_accounts_update"
      },
      "patch": {
        "operationId": "applications_accounts_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        },
        "tags": [
          "applications_accounts"
        ],
        "summary": "applications_accounts_partial_update"
      },
      "delete": {
        "operationId": "applications_accounts_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "applications_accounts"
        ],
        "summary": "applications_accounts_delete"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/applications/applications/": {
      "get": {
        "operationId": "applications_applications_list",
        "description": "",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "category__in",
            "in": "query",
            "description": "Multiple values may be separated by commas.",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "type__in",
            "in": "query",
            "description": "Multiple values may be separated by commas.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "spm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/App"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "applications_applications"
        ],
        "summary": "applications_applications_list"
      },
      "post": {
        "operationId": "applications_applications_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        },
        "tags": [
          "applications_applications"
        ],
        "summary": "applications_applications_create"
      },
      "put": {
        "operationId": "applications_applications_bulk_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        },
        "tags": [
          "applications_applications"
        ],
        "summary": "applications_applications_bulk_update"
      },
      "patch": {
        "operationId": "applications_applications_partial_bulk_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        },
        "tags": [
          "applications_applications"
        ],
        "summary": "applications_applications_partial_bulk_update"
      },
      "delete": {
        "operationId": "applications_applications_bulk_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "applications_applications"
        ],
        "summary": "applications_applications_bulk_delete"
      },
      "parameters": []
    },
    "/applications/applications/render-to-json/": {
      "post": {
        "operationId": "applications_applications_render_to_json",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        },
        "tags": [
          "applications_applications"
        ],
        "summary": "applications_applications_render_to_json"
      },
      "parameters": []
    },
    "/applications/applications/suggestions/": {
      "get": {
        "operationId": "applications_applications_match",
        "description": "",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "category__in",
            "in": "query",
            "description": "Multiple values may be separated by commas.",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "type__in",
            "in": "query",
            "description": "Multiple values may be separated by commas.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "spm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/App"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "applications_applications"
        ],
        "summary": "applications_applications_match"
      },
      "parameters": []
    },
    "/applications/applications/tree/": {
      "get": {
        "operationId": "applications_applications_get_tree",
        "description": "",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "category__in",
            "in": "query",
            "description": "Multiple values may be separated by commas.",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "type__in",
            "in": "query",
            "description": "Multiple values may be separated by commas.",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "spm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TreeNode"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "applications_applications"
        ],
        "summary": "applications_applications_get_tree"
      },
      "parameters": []
    },
    "/applications/applications/{id}/": {
      "get": {
        "operationId": "applications_applications_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        },
        "tags": [
          "applications_applications"
        ],
        "summary": "applications_applications_read"
      },
      "put": {
        "operationId": "applications_applications_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        },
        "tags": [
          "applications_applications"
        ],
        "summary": "applications_applications_update"
      },
      "patch": {
        "operationId": "applications_applications_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        },
        "tags": [
          "applications_applications"
        ],
        "summary": "applications_applications_partial_update"
      },
      "delete": {
        "operationId": "applications_applications_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "applications_applications"
        ],
        "summary": "applications_applications_delete"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/applications/remote-apps/{id}/connection-info/": {
      "get": {
        "operationId": "applications_remote-apps_connection-info_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/RemoteAppConnectionInfo"
            }
          }
        },
        "tags": [
          "applications_remote-apps"
        ],
        "summary": "applications_remote-apps_connection-info_read"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/applications/system-users-apps-relations/": {
      "get": {
        "operationId": "applications_system-users-apps-relations_list",
        "description": "",
        "parameters": [
          {
            "name": "app",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemuser",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "username",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "app_display",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "spm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AppAccount"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "applications_system-users-apps-relations"
        ],
        "summary": "applications_system-users-apps-relations_list"
      },
      "post": {
        "operationId": "applications_system-users-apps-relations_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        },
        "tags": [
          "applications_system-users-apps-relations"
        ],
        "summary": "applications_system-users-apps-relations_create"
      },
      "put": {
        "operationId": "applications_system-users-apps-relations_bulk_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        },
        "tags": [
          "applications_system-users-apps-relations"
        ],
        "summary": "applications_system-users-apps-relations_bulk_update"
      },
      "patch": {
        "operationId": "applications_system-users-apps-relations_partial_bulk_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        },
        "tags": [
          "applications_system-users-apps-relations"
        ],
        "summary": "applications_system-users-apps-relations_partial_bulk_update"
      },
      "delete": {
        "operationId": "applications_system-users-apps-relations_bulk_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "applications_system-users-apps-relations"
        ],
        "summary": "applications_system-users-apps-relations_bulk_delete"
      },
      "parameters": []
    },
    "/applications/system-users-apps-relations/render-to-json/": {
      "post": {
        "operationId": "applications_system-users-apps-relations_render_to_json",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        },
        "tags": [
          "applications_system-users-apps-relations"
        ],
        "summary": "applications_system-users-apps-relations_render_to_json"
      },
      "parameters": []
    },
    "/applications/system-users-apps-relations/{id}/": {
      "get": {
        "operationId": "applications_system-users-apps-relations_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        },
        "tags": [
          "applications_system-users-apps-relations"
        ],
        "summary": "applications_system-users-apps-relations_read"
      },
      "put": {
        "operationId": "applications_system-users-apps-relations_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        },
        "tags": [
          "applications_system-users-apps-relations"
        ],
        "summary": "applications_system-users-apps-relations_update"
      },
      "patch": {
        "operationId": "applications_system-users-apps-relations_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AppAccount"
            }
          }
        },
        "tags": [
          "applications_system-users-apps-relations"
        ],
        "summary": "applications_system-users-apps-relations_partial_update"
      },
      "delete": {
        "operationId": "applications_system-users-apps-relations_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "applications_system-users-apps-relations"
        ],
        "summary": "applications_system-users-apps-relations_delete"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/assets/account-backup-plan-executions/": {
      "get": {
        "operationId": "assets_account-backup-plan-executions_list",
        "description": "",
        "parameters": [
          {
            "name": "trigger",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "plan_id",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AccountBackupPlanExecution"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "assets_account-backup-plan-executions"
        ],
        "summary": "assets_account-backup-plan-executions_list"
      },
      "post": {
        "operationId": "assets_account-backup-plan-executions_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountBackupPlanExecution"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountBackupPlanExecution"
            }
          }
        },
        "tags": [
          "assets_account-backup-plan-executions"
        ],
        "summary": "assets_account-backup-plan-executions_create"
      },
      "parameters": []
    },
    "/assets/account-backup-plan-executions/{id}/": {
      "get": {
        "operationId": "assets_account-backup-plan-executions_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountBackupPlanExecution"
            }
          }
        },
        "tags": [
          "assets_account-backup-plan-executions"
        ],
        "summary": "assets_account-backup-plan-executions_read"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/assets/account-backup-plans/": {
      "get": {
        "operationId": "assets_account-backup-plans_list",
        "description": "",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "spm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AccountBackupPlan"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "assets_account-backup-plans"
        ],
        "summary": "assets_account-backup-plans_list"
      },
      "post": {
        "operationId": "assets_account-backup-plans_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountBackupPlan"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountBackupPlan"
            }
          }
        },
        "tags": [
          "assets_account-backup-plans"
        ],
        "summary": "assets_account-backup-plans_create"
      },
      "put": {
        "operationId": "assets_account-backup-plans_bulk_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountBackupPlan"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountBackupPlan"
            }
          }
        },
        "tags": [
          "assets_account-backup-plans"
        ],
        "summary": "assets_account-backup-plans_bulk_update"
      },
      "patch": {
        "operationId": "assets_account-backup-plans_partial_bulk_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountBackupPlan"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountBackupPlan"
            }
          }
        },
        "tags": [
          "assets_account-backup-plans"
        ],
        "summary": "assets_account-backup-plans_partial_bulk_update"
      },
      "delete": {
        "operationId": "assets_account-backup-plans_bulk_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "assets_account-backup-plans"
        ],
        "summary": "assets_account-backup-plans_bulk_delete"
      },
      "parameters": []
    },
    "/assets/account-backup-plans/render-to-json/": {
      "post": {
        "operationId": "assets_account-backup-plans_render_to_json",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountBackupPlan"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountBackupPlan"
            }
          }
        },
        "tags": [
          "assets_account-backup-plans"
        ],
        "summary": "assets_account-backup-plans_render_to_json"
      },
      "parameters": []
    },
    "/assets/account-backup-plans/{id}/": {
      "get": {
        "operationId": "assets_account-backup-plans_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountBackupPlan"
            }
          }
        },
        "tags": [
          "assets_account-backup-plans"
        ],
        "summary": "assets_account-backup-plans_read"
      },
      "put": {
        "operationId": "assets_account-backup-plans_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountBackupPlan"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountBackupPlan"
            }
          }
        },
        "tags": [
          "assets_account-backup-plans"
        ],
        "summary": "assets_account-backup-plans_update"
      },
      "patch": {
        "operationId": "assets_account-backup-plans_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountBackupPlan"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountBackupPlan"
            }
          }
        },
        "tags": [
          "assets_account-backup-plans"
        ],
        "summary": "assets_account-backup-plans_partial_update"
      },
      "delete": {
        "operationId": "assets_account-backup-plans_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "assets_account-backup-plans"
        ],
        "summary": "assets_account-backup-plans_delete"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/assets/accounts-history/": {
      "get": {
        "operationId": "assets_accounts-history_list",
        "description": "",
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemuser",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "username",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "ip",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "hostname",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "node",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "spm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AccountHistorySerializer"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "assets_accounts-history"
        ],
        "summary": "assets_accounts-history_list"
      },
      "parameters": []
    },
    "/assets/accounts-history/{history_id}/": {
      "get": {
        "operationId": "assets_accounts-history_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountHistorySerializer"
            }
          }
        },
        "tags": [
          "assets_accounts-history"
        ],
        "summary": "assets_accounts-history_read"
      },
      "parameters": [
        {
          "name": "history_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/assets/accounts/": {
      "get": {
        "operationId": "assets_accounts_list",
        "description": "",
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "systemuser",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "username",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "ip",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "hostname",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "node",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "spm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AssetAccountSerializer"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "assets_accounts"
        ],
        "summary": "assets_accounts_list"
      },
      "post": {
        "operationId": "assets_accounts_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetAccountSerializer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AssetAccountSerializer"
            }
          }
        },
        "tags": [
          "assets_accounts"
        ],
        "summary": "assets_accounts_create"
      },
      "put": {
        "operationId": "assets_accounts_bulk_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetAccountSerializer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AssetAccountSerializer"
            }
          }
        },
        "tags": [
          "assets_accounts"
        ],
        "summary": "assets_accounts_bulk_update"
      },
      "patch": {
        "operationId": "assets_accounts_partial_bulk_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetAccountSerializer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AssetAccountSerializer"
            }
          }
        },
        "tags": [
          "assets_accounts"
        ],
        "summary": "assets_accounts_partial_bulk_update"
      },
      "delete": {
        "operationId": "assets_accounts_bulk_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "assets_accounts"
        ],
        "summary": "assets_accounts_bulk_delete"
      },
      "parameters": []
    },
    "/assets/accounts/render-to-json/": {
      "post": {
        "operationId": "assets_accounts_render_to_json",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetAccountSerializer"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AssetAccountSerializer"
            }
          }
        },
        "tags": [
          "assets_accounts"
        ],
        "summary": "assets_accounts_render_to_json"
      },
      "parameters": []
    },
    "/assets/accounts/tasks/": {
      "post": {
        "operationId": "assets_accounts_tasks_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountTask"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AccountTask"
            }
          }
        },
        "tags": [
          "assets_accounts"
        ],
        "summary": "assets_accounts_tasks_create"
      },
      "parameters": []
    },
    "/assets/accounts/{id}/": {
      "get": {
        "operationId": "assets_accounts_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AssetAccountSerializer"
            }
          }
        },
        "tags": [
          "assets_accounts"
        ],
        "summary": "assets_accounts_read"
      },
      "put": {
        "operationId": "assets_accounts_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetAccountSerializer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AssetAccountSerializer"
            }
          }
        },
        "tags": [
          "assets_accounts"
        ],
        "summary": "assets_accounts_update"
      },
      "patch": {
        "operationId": "assets_accounts_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetAccountSerializer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AssetAccountSerializer"
            }
          }
        },
        "tags": [
          "assets_accounts"
        ],
        "summary": "assets_accounts_partial_update"
      },
      "delete": {
        "operationId": "assets_accounts_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "assets_accounts"
        ],
        "summary": "assets_accounts_delete"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/assets/accounts/{id}/verify/": {
      "post": {
        "operationId": "assets_accounts_verify_account",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetTask"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AssetTask"
            }
          }
        },
        "tags": [
          "assets_accounts"
        ],
        "summary": "assets_accounts_verify_account"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/assets/assets/": {
      "get": {
        "operationId": "assets_assets_list",
        "description": "API endpoint that allows Asset to be viewed or edited.",
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "ip",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "system_users__id",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "platform__base",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "protocols",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "protocols__icontains",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "spm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "node",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "all",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ips",
            "in": "query",
            "description": "ip in filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Asset"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "assets_assets"
        ],
        "summary": "assets_assets_list"
      },
      "post": {
        "operationId": "assets_assets_create",
        "description": "API endpoint that allows Asset to be viewed or edited.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          }
        },
        "tags": [
          "assets_assets"
        ],
        "summary": "assets_assets_create"
      },
      "put": {
        "operationId": "assets_assets_bulk_update",
        "description": "API endpoint that allows Asset to be viewed or edited.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          }
        },
        "tags": [
          "assets_assets"
        ],
        "summary": "assets_assets_bulk_update"
      },
      "patch": {
        "operationId": "assets_assets_partial_bulk_update",
        "description": "API endpoint that allows Asset to be viewed or edited.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          }
        },
        "tags": [
          "assets_assets"
        ],
        "summary": "assets_assets_partial_bulk_update"
      },
      "delete": {
        "operationId": "assets_assets_bulk_delete",
        "description": "API endpoint that allows Asset to be viewed or edited.",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "assets_assets"
        ],
        "summary": "assets_assets_bulk_delete"
      },
      "parameters": []
    },
    "/assets/assets/render-to-json/": {
      "post": {
        "operationId": "assets_assets_render_to_json",
        "description": "API endpoint that allows Asset to be viewed or edited.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          }
        },
        "tags": [
          "assets_assets"
        ],
        "summary": "assets_assets_render_to_json"
      },
      "parameters": []
    },
    "/assets/assets/suggestions/": {
      "get": {
        "operationId": "assets_assets_match",
        "description": "API endpoint that allows Asset to be viewed or edited.",
        "parameters": [
          {
            "name": "hostname",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "ip",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "system_users__id",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "platform__base",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "is_active",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "protocols",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "protocols__icontains",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "spm",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "node",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "all",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ips",
            "in": "query",
            "description": "ip in filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Asset"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "assets_assets"
        ],
        "summary": "assets_assets_match"
      },
      "parameters": []
    },
    "/assets/assets/tasks/": {
      "post": {
        "operationId": "assets_assets_tasks_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetsTask"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/AssetsTask"
            }
          }
        },
        "tags": [
          "assets_assets"
        ],
        "summary": "assets_assets_tasks_create"
      },
      "parameters": []
    },
    "/assets/assets/{id}/": {
      "get": {
        "operationId": "assets_assets_read",
        "description": "API endpoint that allows Asset to be viewed or edited.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          }
        },
        "tags": [
          "assets_assets"
        ],
        "summary": "assets_assets_read"
      },
      "put": {
        "operationId": "assets_assets_update",
        "description": "API endpoint that allows Asset to be viewed or edited.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          }
        },
        "tags": [
          "assets_assets"
        ],
        "summary": "assets_assets_update"
      },
      "patch": {
        "operationId": "assets_assets_partial_update",
        "description": "API endpoint that allows Asset to be viewed or edited.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          }
        },
        "tags": [
          "assets_assets"
        ],
        "summary": "assets_assets_partial_update"
      },
      "delete": {
        "operationId": "assets_assets_delete",
        "description": "API endpoint that allows Asset to be viewed or edited.",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "assets_assets"
        ],
        "summary": "assets_assets_delete"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/assets/assets/{id}/perm-user-groups/": {
      "get": {
        "operationId": "assets_assets_perm-user-groups_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/UserGroup"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "assets_assets"
        ],
        "summary": "assets_assets_perm-user-groups_list"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/assets/assets/{id}/perm-user-groups/{perm_user_group_id}/permissions/": {
      "get": {
        "operationId": "assets_assets_perm-user-groups_permissions_list",
        "description": "",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "username",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "system_user_id",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "system_user",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "user_group_id",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "user_group",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "node_id",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "node",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "asset_id",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "hostname",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "ip",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "all",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "is_valid",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "is_effective",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "from_ticket",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "order",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AssetPermission"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "assets_assets"
        ],
        "summary": "assets_assets_perm-user-groups_permissions_list"
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        {
          "name": "perm_user_group_id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/assets/assets/{id}/perm-users/": {
      "get": {
        "operationId": "assets_assets_perm-users_list",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "username",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "email",
[...]
